@charset "utf-8";
.top {
    width: 1920px;
    color: #767676;
    font-size: 30.81px;
    line-height: 110px;
    font-family: "等线";
    display: flex;
    justify-content: flex-start;
}
.top .logo {
    height: 96px;
    width: 221px;
    text-align: center;
    display: flex;
    padding-top: 0px;
    padding-right: 3px;
}
.top .logo img {
    width: 143px;
    height: 55px;
}
.top .nav {
    width: 1555px;
    height: 70px;
    position: relative;
    top: 0;
    min-height: 0px;
}
.top a {
    color: #767676;
    text-decoration: none;
	transition: all .5s;
}
.top .nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    right: 5%;
    width: 823px;
}
.top .nav ul li  {
    position: relative;
    padding: 20px;
    font-size: 32px;
    line-height: 1;
    transition: 0.2s all linear;
    cursor: pointer;
    font-weight: 500;
    font-family: "等线";
}
.top .nav ul li:before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #F8A06C;
    opacity: 0;
    transition: 0.3s;
}
.top .nav ul li:not(.is-active):hover:before{
	opacity: 1;
	bottom: 0;	
}
.top .nav ul li a:hover{
    color: #F8A06C;
}
.top .caidan:hover {
    background-image: url(../img/zhuye/3124234.png);
}
.top .caidan {
    float: right;
    height: 30px;
    background-image: url(../img/zhuye/%E6%B1%89%E5%A0%A1%E8%8F%9C%E5%8D%95.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    border-style: none;
    margin-top: 19px;
    width: 56px;
    font-size: 2px;
    line-height: 36px;
    margin-left: 93px;
}
.ke {
    display: flex;
    justify-content: center;
    background-color: #E3E6E3;
}
.ke2 {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.ke3 {
    background-color: #E1A88A;
    display: flex;
    justify-content: center;
}
.ke11 {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
